<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kingtuoware.com.wymusic">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_lunch"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2"
        android:name=".controller.application.WYmusicApplication">
        <activity android:name=".controller.activity.MainActivity" />
        <activity android:name=".controller.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.activity.BaseActivity"></activity>
        <activity android:name=".controller.activity.PlayerActivity"/>
        <service android:name=".controller.services.PlayerService"></service>
    </application>

</manifest>